
<div class="container mt-4">
    <form #f="ngForm" (ngSubmit)="signup(f)">
      <div class="form-group">
          <input ngModel name="name" #name="ngModel" type="text" class="form-control" placeholder="Name" required>
          <div class="alert alert-danger" *ngIf="name.invalid && name.touched">le nom est vide</div>
      </div>
      <div  class="form-group">
        <input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">email est vide</div>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">email doesn't match email format</div>
        
      </div>
      <div class="form-group">
        <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password" required minlength="6">
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">password est vide</div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">password should be 6</div>
        
      </div>
      <div class="form-group">
        <input ngModel name="passwordConfirm" #passwordConfirm="ngModel" type="password" class="form-control" placeholder="Confirm Password" required >
        <div class="alert alert-danger" *ngIf="passwordConfirm.invalid && passwordConfirm.touched">password est vide</div>
        <div class="alert alert-danger" *ngIf="passwordConfirm.value !== password.value && passwordConfirm.touched">la password doit egal le confirm</div>
      </div>
      <div class="form-group">
        <input ngModel name="address" #address="ngModel" type="text" class="form-control" placeholder="Address" required>
        <div class="alert alert-danger" *ngIf="address.invalid && address.touched">l'adress est vide</div>
      </div>
      <button class="btn btn-primary" [disabled]="f.invalid || passwordConfirm.value !== password.value "  >Valider</button>
    </form>
    <br>
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
  </div>
